* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url(./images/3d-Desktop-Backgrounds.jpg);
  height: 100vh;
}

.whether-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.center {
  height: 260px;
  width: 350px;
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
  margin: 40px;
}

input {
  background-color: #80808020;
  margin-top: 30px;
  margin-left: 30px;
  padding: 5px 10px;
  outline-style: none;
  border: 0px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.bg-white {
  background-color: #80808066;
  padding: 10px 10px;
  margin-left: 2px;
  border-radius: 15px;
}
.text-white {
  color: white;
  margin-top: 20px;
  margin-left: 30px;
}
.tem-in-celcuis {
  margin: 20px 0;
}
.cloud-icon {
  margin-right: 8px;
}
.weather {
  display: flex;
}

.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 210px;
  display: block;
}

.card-content {
  padding: 16px;
  text-align: center;
  margin-top: 0%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
